pycocotools
torch
torchvision
timm
scipy
thop
onnx
onnxruntime
# cython
# submitit
# git+https://github.com/cocodataset/cocoapi.git#subdirectory=PythonAPI&egg=pycocotools
# git+https://github.com/cocodataset/panopticapi.git#egg=panopticapi